

body {
  font-family: 'Montserrat', sans-serif;
  /*text-align: center;*/
  color: #1F2041;
  background-color: rgb(245, 245, 245);
  line-height: normal;
}

h1 {
  font-size: 30px;
}

body {
  display: block;
  font-size: 16px;
}

.container {
  margin-left: 140px;
  margin-top: 107px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 300px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.btn-blue {
  color: #119DA4;
}

.btn-pink {
  color: #F56476;
}

#btn-background-blue {
  background-color: #B084CC;
  padding: 10px;
  border-radius: 3px;
  color: white;
  display: inline-flex;
  align-items: center;
}

#btn-background-blue:hover {
  color: #665687;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


img {
  border-radius: 10%;
  width: 250px;
  height:300px;
}

a {
  text-decoration: none
}

a:hover {
  color: pink;
}

i {
  font-size: 30px;
}

.card-white {
  background-color: white;
  margin: 20px auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 30px;
  width: 800px;
}

#text-bottom-closer {
  margin-bottom: 0.02px ;
}

#text-top-closer {
  margin-top: 4px ;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 10px;
}

#insta {
  margin-left: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-white  {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-white  {
    width: 300px;
  }
}



